@media (max-width: 992px){
    header img{
        height: 100px;
        width: auto;
    }

    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-container{
        width: 400px;
        height: 200px;
    }

    .cards-container{
        flex-direction: column;
    }
}